{% extends 'base.html' %}
{% block title %} URL Shortenator!!! {% endblock %}

{% block content %}
<div class="form-container">
    <form action="#", method='post'>
        <div class="row">
            <div class="col-25">
                <label for="url">Enter your very long URL </label>
            </div>
            <div class="col-75">
                <input type="url", name="long_url", id="long_url", placeholder="www.URL-that-is-too-long.com", required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <input type="submit", value="SHORTEN THAT LINK">
            </div>
        </div>    
    </form>
</div>
{% endblock %}